.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
.box {
  width: 300px;
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 10px;
}
dt {
  font-weight: 500;
}