.employee-card {
  border: 1px solid gray;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
}
.employee-card.light {
  background-color: #f0f0f0;
  color: black;
}
.employee-card.dark {
  background-color: #444;
  color: white;
}
.btn-light {
  background-color: white;
  color: black;
  border: 1px solid black;
}
.btn-dark {
  background-color: black;
  color: white;
  border: 1px solid white;
}
